client/node_modules
client/.gitignore
client/.idea
client/.env

server/build
server/.gradle
server/target
server/.idea
server/.gitignore
server/.env

.idea
.github
.dockerignore
.git
.gitignore
Dockerfile
docker-compose.yml
README.md
LICENSE.txt
.vscode
.github